.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(black, rgb(22, 22, 22), black);
    margin-top: 100px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 150px;
    margin: 20px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 20px;
    color: blanchedalmond;
    font-size: 20px;
    justify-content: center; /* Centrar horizontalmente */
    text-align: center; /* Alinear el texto al centro */
}

.footer-links li {
    cursor: pointer;
    color: white;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icon-container {
    padding: 10px;
    padding-bottom: 6px;
    background: rgb(0, 0, 0);
    color: white;
}

/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column; /* Cambiado a columna para apilar en pantallas pequeñas */
        align-items: center;
        gap: 10px;
        justify-content: center;
        font-size: 15px;
        text-align: center;
        align-content: center;
        margin-right: 40px;
    }

    .footer-links li {
        text-align: center; /* Alinear el texto al centro en pantallas pequeñas */
        flex-grow: 1; /* Para centrar horizontalmente */
    }

    .footer-logo {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo img {
        width: 100px;
    }
}
